:root {
    --background: #121314;
    --foreground: #B5CEA8;

    --plain-code: #c9d1d9;

    --keyword: #ff7b72;
    --function: #D2A8FF;

    --string: #A5D6FF;

    --primitive-type: #FF7B72;
    --library-type: #4EC9B0;

    --modifier: #569CD6;
    --constant: #79C0FF;

    --parameter: #FFA657;
    --comment: #8B949E;
}

body {
    font-family: "Segoe UI", sans-serif;
}

button,
input,
select,
textarea {
    font-family: inherit;
}


html {
    scroll-behavior: smooth;
}
body {
    background-color: #191A1B;
    margin: 0;
}

h1, h2, h3, h4, p {
    color: #BFBFBF;
}

h1, h2, h3, h4, p, label {
    font-family: "Segoe UI";
}


main {
    display: flex;

    flex-direction: column;

    box-sizing: border-box;

    width: 100%;
    height: calc(100vh - 120px);

    gap: 20px;

    padding: 10px;
}

.view-and-options {
    display: flex;

    width: 100%;
    height: 50%;

    gap: 20px;
}

section {
    border: 1px solid #3b3b3b;

    border-radius: 10px;
    padding: 0px 20px;

    padding-bottom: 20px;
    background-color: #121314;
}

section.settings {
    height: 50%;
}

section.preview, section.options {
    flex: 1;
}

label {
    color: #BFBFBF;

    font-size: 16px;
}


.title {
    text-align: center;
    margin: 10px;

    text-shadow:
        0 0 10px #c0a42700,
        0 0 20px #ff480000;

    transition: text-shadow 0.4s ease;

    cursor: default;
}

.title:hover {
    text-shadow:
        0 0 10px #c0a427,
        0 0 20px #ff4800;
}

input[type="color"]{
    padding: 0;

    background: transparent;

    border: none;

    width: 30px;
    height: 30px;

    border-radius: 15px;

    flex-shrink: 0;
}

input[type="color"]:hover{
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: 1px solid #6b6b6b;
    border-radius: 15px;
    
    /* colocar um glow na cor escolhida talvez? */
}

input[type="text"]{
    background-color: transparent;

    min-width: 80px;
    border: 1px solid #6b6b6b;

    padding: 10px;
    
    box-sizing: border-box;
    text-align: center;

    color: #EEEEEE;

    box-shadow: 0 0 10px transparent;

    transition: box-shadow 0.2s ease;

    border-radius: 3px;
}

input[type="text"]:focus{
    box-shadow: 0 0 10px #EEEEEE66;
}


.color-categories {
    display: grid;

    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;

    gap: 20px 30px;
}

.color-categories .category{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.color-item {
    display: flex;

    justify-content: space-between;
    align-items: center;

    gap: 20px;

    width: 130px;

}

/* * PREVIEW */

.preview {
    background-color: var(--background);
    color: var(--foreground);
}

.preview h1, .preview h2, .preview h3, .preview h4 {
    color: var(--foreground);
}
.preview-body {

    font-size: 14px;

    font-family: "Consolas";

    margin: 0;
    padding: 0;
}

.code-line {
    margin: 6px 0px;
}

.code-line.indent-1 {
    text-indent: 2em;
}

span.keyword {
    color: var(--keyword);
} 

span.code {
    color: var(--plain-code);
}

span.function {
    color: var(--function);
}

span.string {
    color: var(--string);
}

span.comment {
    color: var(--comment);
}

span.primitive-type {
    color: var(--primitive-type);
}

span.library-type {
    color: var(--library-type);
}

span.modifier {
    color: var(--modifier);
}

span.constant {
    color: var(--constant);
}

/* * END */


#options-content {
    display: flex;
    gap: 25px;
    width: 100%;
    height: calc(100% - 100px);
    justify-content: center;
    align-items: center;
}

.forge-button {
    padding: 15px 25px;
    font-size: 18px;

    border-radius: 5px;

    font-family: "Segoe UI";

    color: #bebebe;
    border: none;

    background: linear-gradient(135deg, #361616, #ad0808, #ca4e1d);

    box-shadow:
        0 0 10px #ff480080,
        0 0 10px #FFFF0000,
        0 0 20px #ff480000;
    
    transition:
        transform 0.2s ease,
        box-shadow 1s ease 0.1s;
}

.forge-button:hover {
    transform: scale(1.08);
    box-shadow:
        0 0 10px #c0a427,
        0 0 20px #ff4800;

    transition:
        transform 0.2s ease,
        box-shadow 0.5s ease 0.1s;

    cursor: pointer;

}

.forge-button:active {

    box-shadow:
        0 0 20px #ff4800,
        0 0 10px #c0a427,


        0 0 15px #eeeeee8a,
        0 0 5px #eeeeeea6;
    transform: scale(0.92);

    transition:
        transform 0.08s ease,
        box-shadow 0.2s ease;
}


.forge-nav {
    display: flex;

    background-color: #361616;

    padding: 5px 20px;

    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;

}

.menus {
    display: flex;
    align-items: center;    
}

.dropdown {
    display: none;

    position: absolute;
    top: 100%;
    left: 0;

    width: 180px;

    border-radius: 10px;

    overflow: hidden;

}

.menu {
    position: relative;
    
}

.menu-button, .dropdown button {
    font-family: "Segoe UI" sans-serif;

}

.menu-button, .dropdown.open button {
    border: none;
    background-color: transparent;
    padding: 15px 20px;
    color: #EEEEEE;
    font-size: 15px;
    transition: background-color 0.2s ease;
}

.menu-button {
    border-radius: 8px;

    cursor: pointer;
}

.dropdown.open button {
    width: 100%;
    display: flex;

    justify-content: space-between;

    align-items: center;

}

.menu-button:hover, .dropdown.open button:hover {
    background-color: #860606;
}

.dropdown.open {
    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: flex-start;

    background-color: #361616;

    border: 1px solid #3b3b3b;
}

.hidden {
    display: none;
}

#help-page {
    padding: 0px 30px 30px;
    margin: 0;
}

#help-page h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

#help-page h3, #help-page h4 {
    margin-bottom: 0;
}

#help-page h3 {
    font-size: 30px;
    text-decoration: underline;
    text-decoration-thickness: 1px;

    text-underline-offset: 3px;
}

#help-page h4 {
    font-size: 25px;
}

#help-page p, #help-page button {
    font-size: 18px;
    letter-spacing: 0.7px;

    margin: 10px 0px;
}

#github-button, #help-page a {
    color: #BFBFBF;

    background-color: transparent;
    border: none;

    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: 2px;

    transition:
        text-decoration-color 0.2s ease,
        color 0.2s ease;

    font-family: "Segoe UI";    
}

#github-button:hover, #help-page a:hover {
    text-decoration-color: #d11212;
    color: #d11212;
}

#help-page a {
    text-align: center;

    font-size: 18px;

    margin-top: 10px;

    padding-bottom: 20px;
}

#help-page h4, #help-page p:not(.subtitle) {
    margin-left: 20px;
}

.subtitle {
    color: #999999;
}